import { lazy } from 'react';

import LazyImportComponent from '@/components/lazyImportComponent';

<%_ chooseModules.forEach(function(item){%>
    import <%=item %> from '<%=deelRouteName(item) %>';
  <% }) _%>


  const routes = [
  {
    path: '/login',
    element: <LazyImportComponent lazyChildren={lazy(() => import('../pages/login'))} />,
  },
  {
    element: <LazyImportComponent lazyChildren={lazy(() => import('../pages/home'))} />,
    children: [
      {
        path: '/',
        element: <LazyImportComponent lazyChildren={lazy(() => import('../pages/user'))} />,
      },
      <%_ chooseModules.forEach(function(item){%>
        ...<%=item %>,
        <% }) %>
    ],
  },
  {
    path: '*',
    element: <div>404</div>,
  },
];

export default routes;
