/* eslint-disable react-refresh/only-export-components */
import { lazy } from 'react';

import ErrorBoundary from '../pages/errorBoundary';

<%_ chooseModules.forEach(function(item){%>
    import <%=item %> from '<%=deelRouteName(item) %>';
  <% }) _%>

const Login = lazy(() => import('../pages/login'));
const Home = lazy(() => import('../pages/home'));
const User = lazy(() => import('../pages/user'));

const routes = [
  {
    path: '/login',
    element: <Login />,
  },
  {
    element: <Home />,
    errorElement: <ErrorBoundary />,
    children: [
      {
        path: '/',
        element: <User />,
      },
      <%_ chooseModules.forEach(function(item){%>
        ...<%=item %>,
       <% }) %>
    ],
  },
  {
    path: '*',
    element: <div>404</div>,
  },
];

export default routes;
